 <div class="container">
  <div class="row mb-40">
    <div class="col-24 text-center wow fadeIn animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;">
      <h2 class="heading"><span>Contact</span> Us  <span class="divider-center"></span></h2>
      <p class="heading-text">We build market leading brands within our chosen Business Communities.</p>
    </div>

    <div class="col-md-14 order-md-2">
      <div id="map" class="map"></div>
    </div>

    <div class="col-md-10">
      <form class="form contact-form">
        <div class="row">
          <div class="col-md-24">
            <div class="form__field">
              <label for="name1" class="d-none"></label>
              <input class="form__input" id="name1" type="text" placeholder="Name" required="" name="userName" autocomplete="off">
            </div>
          </div>
          <div class="col-md-24">
              <div class="form__field">
                  <label for="email1" class="d-none"></label>
                  <input class="form__input" type="email" id="email1" placeholder="Email" name="email">
              </div>
          </div>
          <div class="col-md-24">
              <div class="form__field">
                  <label for="message1" class="d-none"></label>
                  <textarea class="form__textarea" id="message1" placeholder="Message" required="" name="message"></textarea>
              </div>
          </div>
          <div class="col-md-24">
              <button type="submit" id="" class="button gradient-btn w-100">Send</button>
          </div>
        </div>
      </form>
    </div>

  </div><!--/row-->
  <div class="row">
    <div class="col-md-20 offset-md-2">

      <div class="wow fadeInRight text-center" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInRight;">
        <p class="address mb-20 fs-14">
          <span><i class="fas fa-map-marker-alt"></i>23 Austin Friars, London, EC2N 2QP </span>
          <span><i class="fas fa-phone"></i> 0203 542 5193 </span> 
          <span><i class="fas fa-envelope"></i><a href="mailto:info@cedac.com">info@cedac.com</a></span>
        </p>
      </div>

    </div>
  </div>
</div><!--/container-->