<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="footer__brand brand brand--white mb-20">CEDAC <span>Media</span></div>
        <p>We offer the most complete house renovating services in the country, from kitchen design to bathroom remodeling.</p>
        <div class="social-follow mt-10"> 
          <a href="#" target="_blank"> <i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank">  <i class="fab fa-linkedin-in"></i></a>
          <a href="#" target="_blank">  <i class="fab fa-facebook-f"></i></a>
          <a href="https://www.mortgageintroducer.com/contact-us/"> <i class="fas fa-envelope"></i></a>
        </div>
      </div>

      <div class="col-md-6">
        <nav class="footer__nav" aria-label="footer">
          <h4 class="heading footer__heading"><span>Site</span> Pages <span class="divider-left"></span></h4>
          <a href="#">About Us</a>
          <a href="#">The Team</a>
          <a href="#">Contact Us</a>
          <a href="#">Privacy Policy</a>
        </nav>
      </div>

      <div class="col-md-6 ">
        <h4 class="heading footer__heading"><span>Our</span> Brands <span class="divider-left"></span></h4>
        <nav class="footer__nav" aria-label="footer">
          <a href="#">UK Tech News</a>
          <a href="#">Property Wire</a>
          <a href="#">Mortgage Introducer</a>
          <a href="#">City Road PR</a>
        </nav>
      </div>

    </div><!--/row-->
  </div><!-- /container-->
 
  <div class="footer__bottom">
    <small>Copyright © 2020 CEDAC Media. all rights reserved.</small>
  </div>
 
</footer>