<div class="navbar js-navbar">
  <a class="brand" href="#">CEDAC<span>Media</span> </a>
  <nav class="nav js-nav" role="navigation" aria-label="Main Navigation">
    <ul>
      <li class="menu-item"><a class="js-menu-item" href="#home">Home</a></li>
      <li class="menu-item"><a class="js-menu-item" href="#about">About</a></li>
      <li class="menu-item"><a class="js-menu-item" href="#ourbrands">Our Brands</a></li>
      <li class="menu-item"><a class="js-menu-item" href="#services">Services</a></li>
      <li class="menu-item"><a class="js-menu-item" href="#contactus">Contact Us</a></li>
    </ul>
  </nav>
  <button class="hamburger hamburger--collapse js-hamburger" type="button" aria-label="Menu"  aria-controls="navigation">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>