<div class="container">
  <div class="row">
     <div class="col-24 text-center wow fadeIn animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;">
        <h2 class="heading"><span>Our</span> Services <span class="divider-center"></span></h2>
        <p class="heading-text">We build market leading brands within our chosen Business Communities.</p>
     </div>
  </div>
  <div class="iconwrapper row mb-40">
     <div class="col-md-8 wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
        <div class="iconbox text-center">
           <i class="fa fa-chart-bar"></i>
           <h4 class="">Unique experience</h4>
           <p class="no_bottom">Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
        </div>
     </div>
 
     <div class="col-md-8 wow fadeIn animated" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeIn;">
        <div class="iconbox text-center">
           <i class="fa fa-globe-europe"></i>
           <h4 class="">Global Solutions</h4>
           <p class="no_bottom">Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
        </div>
     </div>
     <div class="col-md-8 wow fadeIn animated" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeIn;">
        <div class="iconbox text-center">
           <i class="fa fa-life-ring"></i>
           <h4 class="">Unlimited Features</h4>
           <p class="no_bottom">Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
        </div>
     </div>
  </div><!--/row-->

  <div class="icon-wrapper row">
    <div class="col-md-8 wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
       <div class="iconbox text-center">
          <i class="fa fa-chart-bar"></i>
          <h4 class="">Unique experience</h4>
          <p class="no_bottom">Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
       </div>
    </div>

    <div class="col-md-8 wow fadeIn animated" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeIn;">
       <div class="iconbox text-center">
          <i class="fa fa-globe-europe"></i>
          <h4 class="">Global Solutions</h4>
          <p class="no_bottom">Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
       </div>
    </div>
    <div class="col-md-8 wow fadeIn animated" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeIn;">
       <div class="iconbox text-center">
          <i class="fa fa-life-ring"></i>
          <h4 class="">Unlimited Features</h4>
          <p class="no_bottom">Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
       </div>
    </div>
 </div><!--/row-->
</div>