// _mixins
// ========

@mixin button($font-size, $font-color: $white, $background-color: $navy) {
	@include single-transition(all, 0.28s, ease-in-out, 0s);
	background: $background-color;
	border: 0;
	color: $font-color;
	cursor: pointer;
	display: inline-block;
	font-family: $roboto;
	font-size: $font-size;
	font-weight: 400;
	padding: 8px 12px;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}
